.terraform/

*.tfstate
*.tfstate.*
*.tfplan

crash.log
crash.*.log

*.tfvars
*.tfvars.json
!*.tfvars.example
backend.hcl
environments/*/backend.hcl
environments/*/*.tfvars
!environments/*/*.tfvars.example
environments/*/keys/
environments/*/state/

override.tf
override.tf.json
*_override.tf
*_override.tf.json
    
*.pem
*.key
.env
