aws_region        = "region"
availability_zone = "az"
project_name      = "name"
environment       = "environment"

vpc_cidr = "0.0.0.0/0"
subnet_cidrs = {
  public  = "0.0.0.0/0"
  private = "0.0.0.0/0"
}

ssh_public_key = "/path/to/file.pub"

ssh_allowed_cidrs = ["0.0.0.0/0"]

private_dns_zone = "domain.example"

instance_types = {
  edge1 = ""
  f1    = ""
  m1    = ""
  ci1   = ""
  mon1  = ""
}

additional_tags = {
  Owner = "andimsum"
}
